﻿@model HomepageModel

text @* + Razor comment *@ text <!-- ? Html comment --> text // ! and a standard comment at the end

start <!-- ! HTML --> <a href="#">something</a> @* ? Razor *@ lorem ipsum /* ! c comment */ <div>something else</div> // Note: and the end

@{
    #region

    ViewBag.Title = "About";    /* ? this works */  //!and this too 

    #endregion
}

@section head {
    <meta name="robots" content="noindex" />
}

@helper GoogleHeader()
{
    @: <!-- Google Plus Entries: @Html.Raw( ViewBag.FeedMessage ) (Central Europe Standard Time) -->
    <div class="row">
        <div class="large-12 columns">
            <h5>Latest <a href="https://plus.google.com/104267805940008394536/posts">Google+</a> entries</h5> @* x <h5>Google Plus Entries: ViewBag.Message (Central Europe Standard Time)</h5> *@
        </div>
    </div>
}

@Html.Partial("_Videos", Model.Videos)

<hr />


@if (Request.IsCrawler())
{
    // static
    @* static *@
    <!-- Static -->
    @Html.Action("GooglePlusEntries")
}
else
{
    @section Scripts {
        <script>
            $(document).ready(function () {
                simpleAjax("#googlePlusItems", "#googlePlusItemsError", "/GooglePlusEntries", "getGooglePlusEntries");
            });
        </script>
    }
    // dynamic
    @* dynamic*@
    <!--Dynamic/Ajax-->
    <div class="row">
        <div class="large-12 columns">
            <div id="googlePlusItems">loading latest Google+ Entries, please wait...</div>
            <br />
            <div id="googlePlusItemsError" class="alert-box alert" style="display: none;"></div>
        </div>
    </div>
}

<hr />

@Html.Partial("_Books", Model.Books)

// ! Test

## RazorCSHarp






